<div class="row">
    <div class="ml-4 text-center text-sm text-gray-500 sm:text-right sm:ml-0">
        <a href="https://vdesign.bg/" target="_blank">Nayden Panchev</a> - 2022<br/>
    </div>
</div>
</div>
</body>
</html>
